.recomentationsContainer {
  display: flex;
  flex-direction: row;
  gap: 10px;
  margin-left: 10px;
  overflow-x: auto;
  width: 210px;
}

.recomentationsContainer img {
  width: 100px;
}

.startRecipeButton {
  bottom: 0;
  position: fixed;
}
